<div class="card">
	<h1 class="card__title">{{name}}</h1>
	<p class="card__description">{{description}}</p>
	<span class="card__id">ID:{{id}}</span>
	<div class="card__info">
		<h1 class="card__price">{{price}}₴</h1>
		<a href="/product-edit?id={{id}}" class="card__button">Редагувати</a>
	</div>
</div>